<div style="border:2px dashed #888;padding:2em">

  Hello {{ title | uppercase }}

  <div [ngStyle]="{'background-color': country === 'UK'?'green':'red'}">Footer</div>
  <div [ngClass]="['highlight','bold']">Footer</div>

  <div *ngIf="addProduct; else noNeed">New Product</div>
  
  <ng-template #noNeed>
  <div>
    Product Add is restricted
  </div>
  </ng-template>

  <ol>
    <li *ngFor="let v of vehicles; let i = index">{{i}} - {{v}}</li>
  </ol>


  <!-- <input (click)="sayHello()"> -->
<!-- 
  <div style="background-color: #d99;">
    <app-alert></app-alert>  
  </div>
  

  <app-products></app-products> -->

  <!-- <app-posts></app-posts> -->

  <!-- <app-signup></app-signup> -->
  <!-- <app-login></app-login> -->
  
  <!-- <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="">Home</a></li>
    <li routerLinkActive="active"><a [routerLink]="['catalog','1']" [queryParams]="{category:'electronics'}">Catalog</a></li>
  </ul>

  <router-outlet></router-outlet> -->

  <app-park title="Yellostone National Park"></app-park>
</div>